@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@font-face {
  font-family: Canterbury;
  src: url(Canterbury.ttf);
}

* {
  box-sizing: border-box;
}

.canterbury {
  font-family: Canterbury;
}

@layer utilities {
  .hide-scrollbar-on-ios-as-well {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar-on-ios-as-well::-webkit-scrollbar {
    display: none;
  }
}
